.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
}

.faviconHolder {
  outline: none;
  cursor: pointer;
}

.favicon {
  width: 32px;
  height: 32px;
}

.catelogSubContainer {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.catelogTitle {
  font-size: 30px;
  cursor: pointer;
  outline: none;
}

.catelogRemark {
  font-size: 20px;
}