.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ededed;
}

.header {
  flex: 0.1;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  flex: 1;
  font-size: 35px;
  margin-left: 20px;
  margin-right: 20px;
  color: #34373d;
  font-family: "Avenir-Light";
}

.contentBody {
  flex: 1;
  height: 100%;
  width: 100%;
  /* background-color: yellow; */
  overflow: scroll;
  /* margin-top: 10px; */
}

.contentList {
  list-style-type: none;
  margin: 20px;
}

.contentListItem {
  margin-top: 20px;
  margin-bottom: 20px;
}