ul {
  padding-left: 10px;
}

li {
  padding-left: 10px;
}

.node {
  font-size: 20px;
  font-family: Segoe, Segoe UI, Arial, "sans-serif";
  cursor: pointer;
  outline: none;
  word-wrap: break-word;
  /* margin: 30px; */
  padding: 20px;
}

.node:active {
  background-color: #ededed !important;
}

.node:hover {
  background-color: #f5f5f5;
}

.node:focus {
  background-color: #ededed;
}

.hiddenNode {
  display: none;
}

.list {
  list-style-type: none;
}